/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

@font-face {
    font-family: 'PTSansNarrowRegular';
    src: url('../files/fonts/PT Sans/PTN57F-webfont.eot');
    src: url('../files/fonts/PT Sans/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../files/fonts/PT Sans/PTN57F-webfont.woff') format('woff'),
         url('../files/fonts/PT Sans/PTN57F-webfont.ttf') format('truetype'),
         url('../files/fonts/PT Sans/PTN57F-webfont.svg#PTSansNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansCaptionBold';
    src: url('../files/fonts/PT Sans/PTC75F-webfont.eot');
    src: url('../files/fonts/PT Sans/PTC75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../files/fonts/PT Sans/PTC75F-webfont.woff') format('woff'),
         url('../files/fonts/PT Sans/PTC75F-webfont.ttf') format('truetype'),
         url('../files/fonts/PT Sans/PTC75F-webfont.svg#PTSansCaptionBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansCaptionRegular';
    src: url('../files/fonts/PT Sans/PTC55F-webfont.eot');
    src: url('../files/fonts/PT Sans/PTC55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../files/fonts/PT Sans/PTC55F-webfont.woff') format('woff'),
         url('../files/fonts/PT Sans/PTC55F-webfont.ttf') format('truetype'),
         url('../files/fonts/PT Sans/PTC55F-webfont.svg#PTSansCaptionRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansBoldItalic';
    src: url('../files/fonts/PT Sans/PTS76F-webfont.eot');
    src: url('../files/fonts/PT Sans/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../files/fonts/PT Sans/PTS76F-webfont.woff') format('woff'),
         url('../files/fonts/PT Sans/PTS76F-webfont.ttf') format('truetype'),
         url('../files/fonts/PT Sans/PTS76F-webfont.svg#PTSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansBold';
    src: url('../files/fonts/PT Sans/PTS75F-webfont.eot');
    src: url('../files/fonts/PT Sans/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../files/fonts/PT Sans/PTS75F-webfont.woff') format('woff'),
         url('../files/fonts/PT Sans/PTS75F-webfont.ttf') format('truetype'),
         url('../files/fonts/PT Sans/PTS75F-webfont.svg#PTSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansItalic';
    src: url('../files/fonts/PT Sans/PTS56F-webfont.eot');
    src: url('../files/fonts/PT Sans/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../files/fonts/PT Sans/PTS56F-webfont.woff') format('woff'),
         url('../files/fonts/PT Sans/PTS56F-webfont.ttf') format('truetype'),
         url('../files/fonts/PT Sans/PTS56F-webfont.svg#PTSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansRegular';
    src: url('../files/fonts/PT Sans/PTS55F-webfont.eot');
    src: url('../files/fonts/PT Sans/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../files/fonts/PT Sans/PTS55F-webfont.woff') format('woff'),
         url('../files/fonts/PT Sans/PTS55F-webfont.ttf') format('truetype'),
         url('../files/fonts/PT Sans/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansNarrowBold';
    src: url('../files/fonts/PT Sans/PTN77F-webfont.eot');
    src: url('../files/fonts/PT Sans/PTN77F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../files/fonts/PT Sans/PTN77F-webfont.woff') format('woff'),
         url('../files/fonts/PT Sans/PTN77F-webfont.ttf') format('truetype'),
         url('../files/fonts/PT Sans/PTN77F-webfont.svg#PTSansNarrowBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NovecentowideBold';
    src: url('../files/fonts/Novecentowide Bold/Novecentowide-Bold-webfont.eot');
    src: url('../files/fonts/Novecentowide Bold/Novecentowide-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../files/fonts/Novecentowide Bold/Novecentowide-Bold-webfont.woff') format('woff'),
         url('../files/fonts/Novecentowide Bold/Novecentowide-Bold-webfont.ttf') format('truetype'),
         url('../files/fonts/Novecentowide Bold/Novecentowide-Bold-webfont.svg#NovecentowideBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html	{
	height:100%;
}

body	{
	height:100%;
	font:.8125em/1.5384em PTSansRegular;
	color:#666;
	background-color:#F4F4F4;
}

div#main	{
	height:100%;
}

figure#map-container	{
	position:fixed;
	z-index:1;
	float:left;
	width:67%;
	height:100%;
}

	figure#map-container img#map	{
		display:block;
		height:100%;
	}
	
aside#routes-container	{
	position:relative;
	z-index:10;
	float:right;
	clear:right;
	width:29%;
	padding:2%;
	background-color:#FCFCFC;
	background-image:-webkit-gradient(linear, 0% 0%, 100% 0%, from(#F4F4F4), to(#FCFCFC), #FCFCFC, #FCFCFC, #FCFCFC);
	background-image:-webkit-linear-gradient(left, #F4F4F4, #FCFCFC, #FCFCFC, #FCFCFC, #FCFCFC);
	background-image:-moz-linear-gradient(left, #F4F4F4, #FCFCFC, #FCFCFC, #FCFCFC, #FCFCFC);
	background-image:-ms-linear-gradient(left, #F4F4F4, #FCFCFC, #FCFCFC, #FCFCFC, #FCFCFC);
	background-image:-o-linear-gradient(left, #F4F4F4, #FCFCFC, #FCFCFC, #FCFCFC, #FCFCFC);
	-moz-box-shadow:-7px 0 7px -7px #BABABA, 1px 0 0 0 #E5E5E5 inset, 0 1px 0 0 #E5E5E5, 0 2px 0 0 #E1E1E1;
	-webkit-box-shadow:-7px 0 7px -7px #BABABA, 1px 0 0 0 #E5E5E5 inset, 0 1px 0 0 #E5E5E5, 0 2px 0 0 #E1E1E1;
	box-shadow:-7px 0 7px -7px #BABABA, 1px 0 0 0 #E5E5E5 inset, 0 1px 0 0 #E5E5E5, 0 2px 0 0 #E1E1E1;
}

h3	{
	font:normal 1.0769em/1.7142em PTSansBold;
	border-bottom:1px solid #DFDFDF;
	padding:.2857em 0;	
	margin:.7142em 0;
}

	h3 a	{
		float:right;
		font:.92851em/1.8461em PTSansRegular;	
	}

a, a:visited	{
	color:#1892D1;	
	text-decoration:none;
}

a:hover	{
	color:#1892D1;
	text-decoration:underline;
}

strong, b	{
	font-family:PTSansCaptionBold;
	font-weight:normal;
}

small	{
	font-size:.8461em;
	line-height:1.6363em;
	color:#999;
}

ul, ol	{
	list-style:none;
	margin:0;
	padding:0;
}
	
	ul#alternate-routes li	{
		border-top:1px dashed #DFDFDF;	
	}
	ul#alternate-routes li:first-child	{
		border-top:none;
	}
	
		ul#alternate-routes li > a	{
			display:block;
			padding:.6666em .8333em;
			color:#666 !important;
		}
		
		ul#alternate-routes li > a:hover	{
			color:#666;
			background-color:#E9F6F9;
			text-decoration:none;
		}
	
table	{
	width:100%;
}

	table td	{
		padding:0.6666em 0.8333em;	
	}
	
	table#route tr	{
		border-top:1px dashed #DFDFDF;
	}
	table#route tr:first-child	{
		border-top:none;
	}
	
	table#route td:first-child	{
		max-width:3em;
		text-align:right;
	}
	
	table#route	td:last-child	{
		text-align:center;
	}

.line	{
	display:inline-block;
	line-height:1em;
	font-weight:bold;
	background-color:transparent;
	-webkit-border-radius:3px; 
	-moz-border-radius:3px; 
	border-radius:3px;
	padding:.2307em .4615em;
}
	.line.route	{
		position:relative;
		margin-left:.6153em;	
	}
	.line.route:before	{
		content:"\203A";
		display:inline-block;
		position:absolute;
		left:-.6153em;	
		color:#666;
	}

.duration	{
	float:right;
}

/* =========
    Colours
   ========= */

.blue	{background-color:#A5CAD8;}	.blue-text	{color:#A5CAD8;}
.brown	{background-color:#969278; color:#FCFCFC;}	.brown-text	{color:#969278;}
.candy	{background-color:#FB9CB9;}
.cream	{background-color:#E3D8AA;}	.cream-text	{color:#E3D8AA;}
.dirt	{background-color:#D4D287;}
.grass	{background-color:#99CC66;}	.grass-text	{color:#99CC66;}
.green	{background-color:#D3E070;}	.green-text	{color:#D3E070;}
.grey	{background-color:#9FAB9D; color:#FCFCFC;}	.grey-text	{color:#9FAB9D;}
.orange	{background-color:#FBCD55;}	.orange-text	{color:#FBCD55;} 
.pink	{background-color:#F49191;}	.pink-text	{color:#F49191;}
.purple	{background-color:#C091A6; color:#FCFCFC;}	.purple-text	{color:#C091A6;}
.sky	{background-color:#7F94B0; color:#FCFCFC;}	.sky-text	{color:#7F94B0;}
.yellow	{background-color:#FCF15F;}





/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
